#result{ 
	font-size: 40pt;/* изменяем размер надписи в инпуте, текст выравниваем по правому краю, к элементу обращаемся через идентификатор*/ 
	text-align: right;
}
#calculate{
	width: 310px;/* изменяем ширину кнопки вычислить, к элементу обращаемся через идентификатор*/ 
}
#zero{
	width: 100px;/* ширина кнопки 0 100 пикселей, к элементу обращаемся через идентификатор*/ 
}
button{ /*свойства кнопок, к элементу обращаемся через класс*/
	width: 100px;/*ширина 100*/
	height: 80px;/*высота 80*/
	margin: 0px;/*Свойство margin позволяет задать величину отступа сразу для всех сторон элемента*/
	padding: 0px;/*Устанавливает значение полей вокруг содержимого элемента. Полем называется расстояние от внутреннего края рамки элемента до воображаемого прямоугольника, ограничивающего его содержимое*/
	background-color: lightblue;/*заливка кнопки цветом*/
	border-radius: 15px;/*скругление кнопки с заданым радиусом*/
	font-size: 40pt;/*размер шрифта*/
}

